# Supabase Configuration
VITE_SUPABASE_URL=kxiiotosuyoojndnxtmm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4aWlvdG9zdXlvb2puZG54dG1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NTIwNTUsImV4cCI6MjA5MTMyODA1NX0.KRHky3Ird-YOt6XusC6z9kEuadXpAtiWUt6z35LlzYM
